<div class="container">
  <form action="/auth/sign-in" method="post">
    <input type="email" name="email" required="true" placeholder="Email">
    <br>
    <input type="password" name="password" required="true" placeholder="Password">
    <br>
    <br>
    <button type="submit">Login</button>
  </form>

</div>